*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
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
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
